<p>Change password:</p>
<form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
<div>
    <label for="oldPassword">Old password:</label>
    <input type="password" id="oldPassword" name="oldPassword" required [(ngModel)]="oldPassword">
</div>

<div>
    <label for="newPassword">New password:</label>
    <input type="password" id="newPassword" name="newPassword" required [(ngModel)]="newPassword">
    <div *ngIf="newPassword && !isPasswordValid()">Password must be 7-12 characters long, start with a letter, and contain at least one uppercase letter, one number, and one special character</div>
</div>

<div>
    <label for="confirmNewPassword">Confirm new password</label>
    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required [(ngModel)]="confirmNewPassword">
    <div *ngIf="confirmNewPassword && passwordsDontMatch()"></div>
</div>

<div>
    <button [disabled]="!isFormValid()">Submit</button>
</div>
</form>
{{message}}